<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otra vista</title>
</head>
<body style="background-color:<%= locals.bgColor ? locals.bgColor : null %>">
    <div class='container'>
        <div class="col-lg-6">
          <fieldset class="border" >
            <legend class ='text-center'></legend>     
     
              <h2 id="innerPara">
                Gracias, vuelvan pronto!!!
              </h2>
      </fieldset>
      </div>

      
      <a href="/" style="background-color: #FD7014; color: white; padding: 10px 30px; margin:20px; border-radius: 10px; text-decoration:none">Volver</a>
</body>
</html>